hello 
<button id="login-btn" type="button">Se Connecter</button>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function test(event) {
    $.ajax({
      url: 'http://127.0.0.1:8000/api/categories', // Change this to your login endpoint
      type: 'GET', // Use POST for login
      // data: JSON.stringify({ email, password }),
      success: function(response) {
        console.log('Response: ' + JSON.stringify(response));
        // Handle success (e.g., redirect or show a message)
      },
      error: function(xhr, status, error) {
        console.log('Error: ' + error);
        // Handle error (e.g., show an error message)
      }
    });
  }

  $('#login-btn').on('click', test);
//   test()
</script>