.login-container{
   
    display: grid;
    grid-template-columns: auto  auto;
    width: 100%;
    max-width: 1300px; 
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
}
.login-container form{
     padding-top: 130px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 30px;

}
.login-container form {
    text-align: center;
}
.login-container form input{    
    border: none;
}

.login-container form input:focus{
    border: none;
    outline: none;
}
.login-container form .input-border{
    border: 1px solid black;
    border-radius: 30px;
    padding: 6px;
    width: 300px;
}
    .hero-login{
     padding-top: 130px;
     width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.hero-login img{
    background-color:rgb(255, 254, 240) ;
    height: 350px;
}
#submit-btn{
    color: white;       
    background-color: black;
}
#submit-btn:hover{
    background-color: rgb(12, 178, 255);
    color: black;
}