.bi-trash3 , .bi-pencil-square{
    cursor: pointer;
}
.table-users-container{
    background-color: aliceblue ;
    padding: 20px 10px 0px 5px;
    width: 100%;
    border-radius: 20px;
}
#example_wrapper{
    overflow-x: scroll !important;
    scroll-behavior: smooth;
}