.main{
    overflow-x: auto;
}
.bi-trash3 , .bi-pencil-square{
    cursor: pointer;
}
.table-users-container{
    background-color: aliceblue ;
    padding: 20px 10px 0px 5px;
    width: 100%;
    border-radius: 20px;

   }


.users-table {
    min-width: 600px; /* Set a minimum width for better visualization on smaller screens */
}
table .user-row:hover td{
   background-color: rgb(224, 240, 253) !important;
}
.user-row{
   cursor: pointer;
}
.btn-add{
    margin-bottom: 10px;
    margin-top: 30px;
}
.actions{
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 18px;
}