.image-banner-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;   
}
#banner_about{
    width: 100%;
}
.top-content{
    margin: 50px 10px;
    display: flex;
    gap: 20px;
    width: 100%;
}

.top-content img{
    width: 50%;
}
.top-content p{
    width: 50%;
}
.end-content p{
    padding: 20px 15px;
    text-align: center;
    
}
@media screen and (max-width:990px){
    .top-content{
        flex-direction: column-reverse;
    }
    .top-content img{
        width: 100%;
    }
    .top-content p{
        width: 100%;
        text-align: center;
    }
}