/* FOOTER ------------------- */

footer{
  margin-top: 100px;
    background-color: #373737;
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    padding: 30px;
  }
  .footer-infos{
    display: grid;
    grid-template-columns: auto auto auto  ;
    gap: 50px;
  }
  .footer-infos a{
    color: white;
    text-decoration-line: none;
    font-family: sans-serif;
  }
  footer p , footer li, footer a {
    font-family: sans-serif;
    font-size: 14px;  
  }
  footer h4{
    color:rgb(0, 204, 255);
    font-size: 20px;
  }
  footer a:hover {
    text-decoration: underline;
  }
  .nos-services{
    text-wrap: wrap;
  }
  .sites-contact{
    display: flex;
    flex-direction: column;
    gap: 70px;
  }
  
  .line-footer{
    width: 100%;
    background-color: #4eaef6;
  }
  .copy-right{
    color: #adadad;
    display: flex;
    justify-content: center;
  }
  .footer-infos div{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  @media screen and (max-width:990px) {
    footer{
      padding-top:50px ;
    }
    .footer-infos{
      grid-template-columns: auto;
      gap: 30px;
    }
    .footer-infos div{
      align-items: center;
      text-align: center;
    }
    .footer-infos ul{
      list-style: none;
    }
  
    .sites-contact{
      gap: 20px;
    }
  
  }
  /* END FOOTER */
  