.form-main-container{
    background-color: rgb(255, 255, 255) ;
    padding: 20px 10px 0px 5px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px rgb(221, 221, 221);
}
.main h2{
    font-family:  Helvetica, sans-serif;
    margin-bottom: 30px;
    font-weight: 500;
    text-align: center;
    font-size: 35px;
}
.row-forms{
    display: flex;
    gap: 1rem;
    padding: 10px;
}
.row-forms input, .row-forms select, .row-forms label{
    width: 14rem ;
    display: flex;
    justify-content: start;
}
.row-forms textarea{
    width: 20rem;
    height: 150px;
}
#titre-input{
    width: 20rem;
}
.error{
    color: rgb(255, 111, 111);
    
}
.checks{
    display: flex;
}
.form-check{
    width: 8rem;
    display: flex;
    gap: 12px;
}

.form-select{
    width: 10rem !important;
}
.permission-radio{
    padding: 5px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

@media screen and (max-width:660px) {
    .row-forms{
        flex-direction: column;
        gap: 2px;
        padding-bottom: 10px;
    }
}
label{
    font-weight: 600;
}
.submit-add-user{
    margin-top: 20px;
    display: flex;
    justify-content: end;
}
.subcat-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}
#subcategory-container{
    margin-bottom: 15px;

}
#togglePassword-user{
    width:15px;
}