.main{
    overflow-x: auto;
}
.bi-trash3 , .bi-pencil-square{
    cursor: pointer;
}
.table-users-container{
    background-color: rgb(255, 255, 255) ;
    padding: 20px;
    padding-right: 50px;
    width: 100%;
    border-radius: 5px;
   }

.l{
    color: rgb(0, 155, 103);
}
.users-table {
    min-width: 600px; /* Set a minimum width for better visualization on smaller screens */
}
table .user-row:hover td{
   background-color: rgb(224, 240, 253) !important;
}
tr td a{
    text-wrap: nowrap;
}
tr td    a:hover{
    text-decoration: underline;
}
.user-row{
   cursor: pointer;
}
.btn-add{
    margin-bottom: 10px;
    margin-top: 30px;
}
.actions{
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 18px;
}